.cuspinLabelAndInputWrapper {
  text-align: center;
}
.cuspinLabel {
  display: inline-block;
}
.cuspinInputWrapper {
  display: inline-block;
}
.isinLabelAndInputWrapper {
  text-align: center;
}
.isinLabel {
  display: inline-block;
}
.isinInputWrapper {
  display: inline-block;
}
.occSymbolLabelAndInputWrapper {
  text-align: center;
}
.occSymbolLabel {
  display: inline-block;
}
.occSymbolInputWrapper {
  display: inline-block;
}
.labelAndClearedWrapper {
  text-align: center;
}
.labelAndClearedWrapper .Clearedwrapper {
  display: flex;
}
.labelAndClearedWrapper {
  width: 70%;
  display: center;
}
.labelAndCrossMarginWrapper {
  display: center;
}
.labelAndCrossMarginWrapper .wrapper {
  display: flex;
}
.labelAndCrossMarginWrapper {
  width: 70%;
  display: center;
}
.labelAndCurrencyWrapper {
  display: center;
}
.labelAndCurrencyWrapper .wrapper {
  display: flex;
}
.labelAndCurrencyWrapper {
  width: 70%;
  display: inline-block;
}
.tierLabelAndValue {
  display: flex;
  text-align: center;
}
