.suggestionsWrapper {
  position: absolute;
  border: solid 1px grey;
  /* z-index: 100; */
  background-color: #eee;
  width: 144px;
  cursor: pointer;
}
.suggestionsWrapper li:hover {
  font-weight: bold;
}
