#maintenance {
}
.mantainanaceTitle {
  width: 100%;
  height: 19px;
  background-color: rgba(15, 90, 187, 0.644);
  color: white;
  font-size: bold 11px;
  border: solid 0.1px white;
}
.mantainanceHeaders {
  height: 27px;
}
.mantainanceHeaders {
  display: flex;
  position: relative;
  top: 2px;
}
.dataHeaderButtonsWrapper {
  display: flex;
}
.columPrintExportWrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
