.vendorExchangeProductWrapper {
  display: flex;
}
.suspendRestartButtonsWrapper {
  text-align: center;
}
.refreshAndDeleteButtonsWrapper {
  background-color: #9ecaf7;
  display: flex;
}
.deleteButton {
  background-color: transparent;
}
.refreshButton {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  background-color: transparent;
}
